body, html, #root {
  height: 100%;
  font-size: 12px !important;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .03rem;
  background: #607D8B;
}

button {
	display: inline-block;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .05rem;
	text-align: center;
	text-transform: none;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 2px;
	border-radius: .16667rem;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	height: 30px;
	height: 2.5rem;
	font-size: 14px;
	font-size: 1.16667rem;
	line-height: 14px;
	line-height: 1.16667rem;
	padding-top: 8px;
	padding-top: .66667rem;
	padding: 1.3rem 2.2rem;
	height: 4.4rem;
	font-size: 1.2rem;
	color: #ddd;
	background: #616a79;
	border: none
}
.flex {
  display: flex;
}
.container {
  height: 100%;
  display: flex;
}
.main-nav {
  display: flex;
  flex: 0 0 5rem;
  background-color: #455A64;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-nav .logo {
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #607D8B;
}
.main-nav .logo img {
  width: 2.5rem;
}
.main-nav nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  margin: 0;
  padding: 0;
  height: 5rem;
  width: 5rem;
  text-align: center;
}
.main-nav li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #616a79;
}
.main-nav li a.router-active {
  color: #ffe100;
  background-color: #232c37;
}
.main-content {
  display: flex;
  flex: 1 1 0;
  height: 100%;
}
.main-content .data-view {
  display: flex;
  flex: 2;
  height: 100%;
  background-color: #ECEFF1;
  flex-direction: column;
}
.main-content .data-view .hot-table {
  flex: 1 1 auto;
  padding: 20px;
}

.main-content .data-view .action-container {
  display: flex;
  flex: 0 0 5rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #546E7A;
}

.main-content .chart-view {
  flex: 5;
  height: 100%;
  background-color: #78909C;
}

.main-content .configurar-view {
  flex: 0 0 20rem;
  background-color: #455A64;
  height: 100%;
}
