body{
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
}
#flex-container {
  height: 100%;
}
#flex-container {
  display: flex;
}
header {
  flex: 0 0 50px;
  background-color: #1cacea;
  color: #fff;
  padding: 10px;
}
main {
  flex: 1 0 auto;
  background-color: #fff;
  color: #222;
  display: flex;
}

aside {
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

aside i.fa {
  font-size: 0.9em;
}
