#header {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: #4a4a4a;
  border-bottom: 1px solid #eee;
  height: 50px;
  padding: 0 4%;
  width: 100%
}

#footer {
  clear: both;
  border-top: 1px solid #eee;
  font-size: 12px;
  background: #fff;
  position: relative;
  z-index: 1;
  color: #666;
  box-shadow: 0 1000px 0 1000px #fff
}

.main-wrapper {
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
}

.main-wrapper,div.main-container {
  background: #fff;
  overflow: hidden;
  position: relative
}

div.main-container {
  padding: 0 6% 120px 4%;
  margin-left: -1px;
  min-height: 500px;
  border-left: 1px solid #e9e9e9
}

#wmd-view {
  overflow-y: auto;
  width: 100%;
  background: #fcfcfc;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#wmd-editor{
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  background-color: #fcfcfc;
}

#pre-view {
  overflow-y: auto;
  width: 100%;
  background: #ECECEC;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
